<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->

    <!-- Spinner End -->


    <!-- Navbar & Hero Start -->
    <div class="container-xxl position-relative p-0">


        <div class="container-xxl py-5 bg-primary hero-header">
            <div class="container my-5 py-5 px-lg-5">
                <div class="row g-5 py-5">
                    <div class="col-12 text-center">
                        <h1 class="text-white animated slideInDown">Contact Us</h1>
                        <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a class="text-white" routerLink="/">Home</a></li>

                                <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->


    <div class="">

        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block ">
                                    <img img [src]="registerr">
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                        </div>
                                        <form [formGroup]="registerForm" class="user">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                    id="exampleInputEmail" aria-describedby="emailHelp"
                                                    placeholder="Enter Email Address..." name="email"
                                                    formControlName="email" [(ngModel)]="user.email">
                                            </div> <br>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                    id="exampleInputPassword" placeholder="Password"
                                                    formControlName="password" [(ngModel)]="user.password" ngModel
                                                    required>
                                            </div>
                                            <div class="alert alert-danger" *ngIf="messageError">
                                                {{messageError}}
                                            </div>
<br>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">
                                                        &nbsp;&nbsp;&nbsp;&nbsp; Remember
                                                        Me</label>
                                                </div>
                                            </div> <br>
                                            
                                            <button type="button" (click)="login()"
                                                class="btn btn-primary btn-user btn-block"
                                                style="background-color: rgb(38, 8,158); ">
                                                Login
                                            </button>
                                        
                                            <hr>
                                            <a class="btn btn-google btn-user btn-block">
                                                <i class="fab fa-google fa-fw"></i> Login with Google
                                            </a>
                                            <a class="btn btn-facebook btn-user btn-block">
                                                <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                            </a>
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" routerLink="/forgot-password">Forgot Password?</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" routerLink="/register">Create an Account!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Back to Top -->
        <a routerLink="/login" class="btn btn-lg btn-secondary btn-lg-square back-to-top">
            <i class="bi bi-arrow-up"></i></a>
    </div>